body {
    width: 100%;
}
 
/* index page */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px 2px 20px;
    background: rgb(241, 238, 238);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 5px 40px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 20%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 40px;
}

#mobile {
    display: none;
    align-items: center;
}

button.normal{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* home page */
#hero{
    display: flex;
    background-color: beige;
}

.container-img{
    background-color: beige;
    width: 100%;
    padding: 10px 10px 10px 120px;
    align-items: center;
    justify-content: center;
}

.container-txt{
    padding-top: 100px;
    padding-left: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#bttn {
    background-color: rgb(122, 122, 51);
    color: white;
    border: 0;
    font-weight: 700;
    font-size: 25px;
    width: 180px;
    height: 60px;
    text-align: center;
}

.section-p1{
    padding: 40px 80px;
    background-color: beige;
}

/* .section-m1{
    margin: 40px 0;
} */

#feature .fe-box{
    width: 180px;
    height: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70 ,62 , 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
}

#product1 .pro img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 25px;
    height: 35px;
    line-height: 30px;
    border-radius: 15px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    position: absolute;
    border: 0.5px solid #cce7d0;
    bottom: 20px;
    right: 20px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/double-exposure-civil-engineer-silhouette-600nw-1998393281.webp);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

#banner span{
    color: #ff0e0e;
}

#banner h4{
    color: #fff;
    font-size: 26px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}

#banner button{
    background-color: #f6dbf6;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 5px solid Black;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

footer .foot{
    width: 150px;
    height: 45px;
    border-radius: 30px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 20px;
}

footer .follow svg{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


/* media screen */

@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 200vh;
        width: 300px;
        background-color: #e3e6e3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile svg{
        color: #1a1a1a;
        padding-left: 5px;
    }
    
}

/* shop page */

#page-header {
    background-image: url(images/su-akiskanlastirici-banner.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2{
    color: #fff;
    font-weight: 700;
    font-size: 32px;
}

#page-header p{
    color: #eef098;
    font-weight: 500;
    font-size: 18px;
}

#pagination{
    text-align: center;
    background-color: beige;
    padding-bottom: 40px;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination svg{
    font-size: 20px;
    font-weight: 1000;
}
/*sprodcut */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.small-img-col img{
    padding-top: 15px;
    width: 100%;
    height: 150px;
}

.mainimg{
    width: 100%;
    height: 20px;
}

#prodetails .sing-pro-det{
    width: 50%;
    padding-top: 30px;
}

#prodetails .sing-pro-det h4{
    padding: 40px 0 20px 0;
}

#prodetails .sing-pro-det h2{
    font-size: 26px;
}

#prodetails .sing-pro-det select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .sing-pro-det input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .sing-pro-det button{
    background: #088178;
    color: #fff;
}

#prodetails .sing-pro-det input:focus{
    outline: none;
}

#prodetails .sing-pro-det span{
    line-height: 25px;
}

/* about page */
#page-header.about-header{
    background-image: url(images/360_F_508801991_UTsCAOorx25USitqonfRADueJlzyjhDq.jpg);
    width: 100%;
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: center;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#about-app {
    text-align: center;
    border: 5px solid black;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 14px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
    padding-left: 20px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid#e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

/* cart.html */

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    justify-items: center;
}

#cart img{
    width: 70%;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart thead{
    border: 1px solid #bac0b9;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody tr td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #b0b8af;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 20px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#page-header.cart-header{
    background-color: #088178;
    background-image: none;
    height: 100px;
}